/*overflow visible(by-default) hidden scroll auto
padding affect inside the block and margin affect outside the block
*/

.common-article
{
  background: red;
  width: 200px;
  height:300px;
  overflow: scroll;
}
.par-div p:nth-child(1)
{
  padding:10px;
  background: blue;
  text-align: center;
  margin: 40px;
}
